<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> 
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>List of cars</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> </link>
        <link rel="stylesheet" href="css/sample.css"> </link>

    </head>
    <body ng-app="cars" ng-controller="CarsController">
        
        <h1 class="sample-indent">Список всех машин</h1>
        
        <div sec:authorize="isAnonymous()">
            <h1><a class ="sample-indent" href="/login">Login</a></h1>
        </div>
        
        <div sec:authorize="isAuthenticated()">     
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit"  class="btn btn-primary" value="Log Out"/>
            </form>
        </div>

        <div ng-controller="getCars" ng-show="carsList.length > 0">
            <table id="carsTable" class="table table-hover sample-indent">
                <thead>
                    <tr>
                        <th><h2 class="sample-indent">Номер</h2></th>
                        <th><h2 class="sample-indent">Модель</h2></th>
                        <th><h2 class="sample-indent">Магазин</h2></th>
                        <th><h2 class="sample-indent">Стоимость</h2></th>
                        <th><h2 class="sample-indent">Компания</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in carsList" id="{{car.id}}">
                        <td>{{car.id}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.shop}}</td>
                        <td>{{car.price}}</td>
                        <td>{{car.company}}</td>
                        <td><div sec:authorize="isAuthenticated()"><input type="button" value = "удалить" class="btn btn-default" ng-click="deleteCar(car.id)"/></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="errormessage">{{errormessage}}</div>

        <div sec:authorize="isAuthenticated()">
            <form role="form" ng-submit="addCar()" >
                    <div class="form-group sample-indent">
                        <label for="inputnumber">Номер</label>
                        <input type="number" class="form-control sample-indent" id="inputnumber" name="inputnumber"  placeholder="Номер" ng-model="inputnumber"> </input>
                    </div>
                    <div class="form-group sample-indent">
                        <label for="inputmodel">Модель</label>
                        <input type="text" class="form-control sample-indent" id="inputmodel" name="inputmodel" ng-model="inputmodel" placeholder="Модель"></input>
                    </div>       
                    <div class="form-group sample-indent">
                        <label for="inputmodel">ID магазина</label>
                        <input type="number" class="form-control sample-indent" id="inputprice" name="inputshop" ng-model="inputshop" placeholder="ID магазина"></input>
                    </div>
                    <div class="form-group sample-indent">
                        <label for="inputmodel">Стоимость</label>
                        <input type="number" class="form-control sample-indent" id="inputprice" name="inputprice" ng-model="inputprice" placeholder="Стоимоть"></input>
                    </div>
                    <div class="form-group sample-indent">
                        <label for="inputmodel">Компания</label>
                        <input type="text" class="form-control sample-indent" id="inputcompany" name="inputcompany" ng-model="inputcompany" placeholder="Компания"></input>
                    </div>
                </div>
                <button type="submit" class="btn btn-default sample-indent">Добавить</button>
            </form>
        </div>
        
        <form role="form">
            <br>
            <label for="inputmodel" class="sample-indent">Поиск магазина по ID автомобиля</label>
            <br>
            <input type="text" class="sample-form sample-indent" id="inputid" name="inputid" ng-model="inputid" placeholder="ID машины"></input></div>
            <button ng-click="showShop()" class="sample-form btn-default sample-indent">Показать магазин</button>
        </form>
               
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>
        <script src="js/cars.js" charset="windows_1251"> </script>
        
    </body>
   
 
</html>